@{
    ViewBag.Title = "Access Denied";
}


<section class="content" ng-controller="loginCtrl as vm">
    <div class="container-fluid">
        <div class="block-header">
            <h2>Access Denied</h2>
        </div>
    </div>
</section>