<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\forDeployment\VXI_GAMS_PH_V2\5252024_950AM\VXI_GAMS_US.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>qa-amt.vxi.com.ph/VXI_GAMS_PH_V2</DeployIisAppPath>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="VXI_GAMS_US.VIEWS.Entities.UpdateModel" Order="2" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VXI_GAMS_US.VIEWS.Entities.UpdateModel, VXI_GAMS_US.VIEWS" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="VXI_GAMS_US.VIEWS.Entities.VM.Model1" Order="3" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="VXI_GAMS_US.VIEWS.Entities.VM.Model1, VXI_GAMS_US.VIEWS" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="4" Enabled="False">
          <Destination Path="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="VXI_GAMS_US.DATA.Data.DataContext, VXI_GAMS_US.DATA" MigrationConfiguration="VXI_GAMS_US.DATA.Migrations.Configuration, VXI_GAMS_US.DATA" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VXI_GAMS_US.VIEWS.Entities.UpdateModel-Web.config Connection String" />
    <MSDeployParameterValue Include="$(DeployParameterPrefix)VXI_GAMS_US.VIEWS.Entities.VM.Model1-Web.config Connection String" />
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="VXI_GAMS_US.VIEWS.Entities.UpdateModel" />
    <_ConnectionStringsToInsert Include="VXI_GAMS_US.VIEWS.Entities.VM.Model1" />
  </ItemGroup>
</Project>